<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>운동 메이트</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      alert("{{ messages[0] }}");
    </script>
  {% endif %}
{% endwith %}
<body class="bg-gray-100 font-sans">
  {% if show_navbar %}
  <nav class="bg-white shadow p-4">
    <div class="max-w-5xl mx-auto flex justify-between items-center">
      <a href="/" class="flex items-center">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="정글짐 로고" class="h-16 max-h-20 -my-2" />
      </a>
      
      {% if session.get('user_id') %}
      <div class="space-x-4">
        <span class="text-gray-600">정글짐은 {{ session['nickname'] }}님을 환영합니다.</span>
        <a class="bg-green-500 hover:bg-green-600 text-white font-semibold py-1.5 px-4 rounded">글쓰기</a>
        <a href="/applications/sent" class="text-gray-700 hover:text-green-600 px-3 py-1 rounded transition">내가 한 신청</a>
        <a href="/applications/received" class="text-gray-700 hover:text-green-600 px-3 py-1 rounded transition">받은 신청</a>
        <a href="/logout" class="text-gray-700 hover:text-green-600 px-3 py-1 rounded transition">로그아웃</a>
      </div>
      {% else %}
      <div class="space-x-4">
        <a href="/login" class="text-gray-700 hover:text-green-600 px-3 py-1 rounded transition">로그인</a>
        <a href="/signup" class="text-gray-700 hover:text-green-600 px-3 py-1 rounded transition">회원가입</a>
      </div>
      {% endif %}
    </div>
  </nav>
  {% endif %}
  
  <main class="max-w-5xl mx-auto mt-6 px-4">
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>